.elements__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
