.wrapper {
  background: #000;
  margin: 0 auto;
/* 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . popup__close_image-js"
      "popup__image popup__image popup__image ."
      "popup__image-title . . .";
  } */
}
