.popup__close {
  background-image: url(../../../images/popup-close-button.svg);
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -33px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .popup__close {
    width: 40px;
    height: 40px;
    right: -30px;
    top: -30px;
  }
}
