.popup__image {
  max-width: 75vw;
  max-height: 75vw;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}


@media (min-width: 1100px) {
  .popup__image {
    max-width: 65vw;
    max-height: 65vw;
  }
} 

@media (min-width: 1400px) {
  .popup__image {
    max-width: 55vw;
    max-height: 55vw;
  }
} 

@media (min-width: 1550px) {
  .popup__image {
    max-width: 45vw;
    max-height: 45vw;
  }
}