.elements__container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-rows: 1fr;
  gap: 0;
  grid-template-areas: "title button";
  max-width: 282px;
  margin-left: 21px;
  margin-right: 20px;
}
